* {
    margin: 0;
    padding: 0;
    background-color: #0b1421; 
    font-family: 'Raleway', sans-serif;
}
h1 {
    text-align: center;
}
.container {
    max-width: 70%;
    display: grid;
    place-items: center;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.container .titulo {
    grid-column-start: 1;
    grid-column-end: 6;
    color: #f9f9f9;
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    color: #e3d2bc;
}
.botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 6;
    gap: 10rem;
    margin: auto;
}
.botaoPedra button {
    background-image: url(images/pedra.png);
    background-size: cover;
}
.botaoPapel button{
    background-image: url(images/papel.png);
    background-size: cover;
}
.botaoTesoura button{
    background-image: url(images/tesoura.png);
    background-size: cover;
}
button {
    cursor: pointer;
    border-color: #e3d2bc;
    border-style: solid;
    background-color: #515151;
    height: 20vh;
    width: 20vh;
    border-radius: 10px;
}
@media (max-width: 785px) {
    * {
        overflow-x: hidden;
    }
    .container {
        max-width: 100%;
    }
    button {
        height: 15vh;
        width: 15vh;
    }
    .botoes {
        gap: 1rem;
        margin-left: auto;
    }
}
@media (min-width: 786px) and (max-width: 1074px) {
    h1 {
        text-align: center;
    }
    .botoes {
        gap: 3rem;
    }
}
@media (min-width:1075px) and (max-width: 1660px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}